In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pa_data.csv')

In [3]:
df.head()

,address,state,city,zip,situs_county,longitude,latitude,basement_finished_sq_ft,basement_sq_ft,basement_unfinished_sq_ft,building_sq_ft,market_value_total,year_built,foundation_code,tax_assessor_id,average_household_income
0,10 SULLIVAN AVE,PA,MATAMORAS,18336.0,Orange County,-74.686947,41.377965,NaN,NaN,NaN,1970.0,192700.0,1880.0,NaN,369750500,158569.0
1,60 LOS ALAMITOS CIR,PA,HANOVER,17331.0,Adams County,-77.051008,39.791606,NaN,NaN,NaN,2508.0,282500.0,2000.0,NaN,447149148,100604.0
2,50 ST MICHAELS WAY,PA,HANOVER,17331.0,Adams County,-77.044935,39.797939,NaN,NaN,NaN,1999.0,303500.0,2010.0,NaN,447149152,100604.0
3,54 LOS ALAMITOS CIR,PA,HANOVER,17331.0,Adams County,-77.050784,39.791293,NaN,NaN,NaN,2242.0,291000.0,2001.0,NaN,447149156,100604.0
4,56 ST MICHAELS WAY,PA,HANOVER,17331.0,Adams County,-77.045038,39.797948,NaN,NaN,NaN,1863.0,261100.0,2010.0,2.0,447149160,100604.0

In [6]:
# count rows where situs_county = 'Dauphin'
dauphin_count = df[df['situs_county'] == 'Dauphin County'].shape[0]

In [7]:
print(dauphin_count)

80708

In [8]:
cumberland_count = df[df['situs_county'] == 'Cumberland County'].shape[0]

In [9]:
print(cumberland_count)

73148

In [10]:
# count rows where situs_county = 'Dauphin County' and foundation_code = 2
dauphin_foundation_2_count = df[(df['situs_county'] == 'Dauphin County') & (df['foundation_code'] == 2)].shape[0]

In [11]:
print(dauphin_foundation_2_count)

990

In [12]:
cumberland_foundation_2_count = df[(df['situs_county'] == 'Cumberland County') & (df['foundation_code'] == 2)].shape[0]

In [13]:
print(cumberland_foundation_2_count)

1501